body 
{
  overflow-x: hidden;
}

/* swiper */
.swiper-container 
{
  width: 110%;
  height: 100vh;
}

.swiper-slide img 
{
  width: 90%;
  height: 50%;
  object-fit: cover; 
}

.swiper-pagination 
{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* slider */
.slider-container 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

/* card akses layanan */
.konten1 {
  z-index: 0;
  width: 100%;
  height: auto;
  min-height: 300px; 
  object-fit: cover; 
}

.card {
  z-index: 1; 
  width: 80%; 
  max-width: 300px; 
  margin-top: 250px;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #388E3C;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: #1B5E20; 
  color: #FFFFFF; 
  padding: 20px 0; 
  text-align: center;
}
