body 
{
  overflow-x: hidden;
}

/* swiper */
.swiper-container 
{
  width: 110%;
  height: 100vh;
}

.swiper-slide img 
{
  width: 90%;
  height: 50%;
  object-fit: cover; 
}

.swiper-pagination 
{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* slider */
.slider-container 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

/* card akses layanan */
.konten1 {
  z-index: 0;
  width: 100%;
  height: auto;
  min-height: 300px;
}

.card 
{
  z-index: 1;
  width: 80%;
  max-width: 300px;
  margin: 100 auto;
  position: relative;
  margin-top: 50px;
  transform: translateY(30%); 
  transform: translateX(-50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.read-more 
{
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #388E3C;
}

/* kolaborator */
.logo 
{
  max-width: 300px;
  height: auto;
}

.flex 
{
  flex-wrap: wrap;
}

.space-x-8 > * + * 
{
  margin-left: 2rem;
}

/* footer */
footer 
{
  position: relative;
  width: 100%;
  background-color: #1B5E20; 
  color: #FFFFFF; 
  padding: 20px 0; 
  text-align: center;
}
